@media only screen and (min-width: 600px) {

    body, main, nav{
        max-width: 800px;
    }

    button.icon{
        display: none;
    }

    #topnav{
        width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: black;
    }

    #topnav li{
        height: 20px;
        width: 120px;
        text-align: center;
    }

    #topnav li a{
        text-decoration: none;
        color: white;
        height: 20px;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }

    section#desc1{
        order: 1;
    }

    section#desc2{
        order: 4;
    }

    section#desc3{
        order: 5;
    }

    iframe#map1{
        order: 2;
    }

    iframe#map2{
        order: 3;
    }

    iframe#map3{
        order: 6;
    }

}
