* { box-sizing: border-box; margin: 0 auto; }

body{
    background-color: black;
    color: white;
    margin: 0 auto;
}

#subheading{
    font-size: .75rem;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1, header #subheading{
    text-align: center;
    width: 100%;
}

#topnav li{
    list-style-type: none;
}

#topnav li:hover{
    background-color: dimgray;
}

button.icon{
    display: flex;
    position: absolute;
    right: 0;
    color: rgb(100 0 0);
    background: none;
    margin: 10px 10px 0 10px;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
}

#topnav{
    padding : 20px;
    background-color: dimgray
}

#topnav li a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.responsive{
    display: none;
}

.active{
    background-color: dimgray;
}

footer{
    margin: 20px auto 0 auto;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

section#info{
    width: 300px;
}

form{
    width: 300px;
    background-color: rgb(50 50 60)
}

section#form button{
    width: 300px;
    height: 50px;
    background-color: rgb(100 0 0);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px 0 0 0;
}

section#form button:hover{
    background: linear-gradient(rgb(100 0 0), rgb(50 0 0), rgb(100 0 0));
    border: none;
}

#label{
    align-content: flex-start;
    text-align: left;
}

#textarea{
    display: flex;
}

form div{
    padding: 10px;
}

#submit{
    background-color: rgb(100 0 0);
    color: white;
    width: 100px;
    height: 30px;
    border: none;
}

#submit:hover{
    background: linear-gradient(rgb(100 0 0), rgb(50 0 0), rgb(100 0 0));
}

