* { box-sizing: border-box; margin: 0 auto; }

body{
    background-color: black;
    color: white;
    margin: 0 auto;
}

#subheading{
    font-size: .75rem;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1, header #subheading{
    text-align: center;
    width: 100%;
}

#topnav li{
    list-style-type: none;
}

#topnav li:hover{
    background-color: dimgray;
}

button.icon{
    display: flex;
    position: absolute;
    right: 0;
    color: rgb(100 0 0);
    background: none;
    margin: 10px 10px 0 10px;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
}

#topnav{
    padding : 20px;
    background-color: dimgray
}

#topnav li a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.responsive{
    display: none;
}

.active{
    background-color: dimgray;
}

footer{
    margin: 0 auto;
    text-align: center;
}

main{
    margin-top: 50px;
}

h1.bike{
    text-align: center;
    background-color: rgb(100 0 0);
    cursor: pointer;
}

section.description{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 10px auto;
    background-color: rgb(20 20 30);
}

section.description section{
    margin: 0 auto 10px auto;
    text-align: center;
    width: 300px;
}

section.description img{
    width: 300px;
    height: 198px;
}

