* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: #665D5B;
    background-color: #FFDCAC;
}

h1 {
    font-size: 3.0rem;
    color: #665D5B;
    padding-top: 100px;
}

h2 {
    font-size: 1.0rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
    background-color: #FF7D60;
}

main{
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1200px;
}

header{
    text-align: center;
    background-color: #79CAAF;
    color: #665D5B;
    height: 200px;
    vertical-align: text-bottom;
}

header img {
    width: 200px;
    height: auto;
    float: right;
    padding-top: 50px;
    padding-right: 20px;
}

footer{
    font-size: .75rem;
    text-align: center;
    background-color: #79CAAF;
    color: #665D5B;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
li:hover{
    background-color: #FF7D60;
    width: 200px;
    border-radius: 10px;
    color: white;

}

ul{
    max-width: 250px;
}
