* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: gray;
    background-color: lightblue;
}

h1 {
    font-size: 2.0rem;
    color: white;
}

h2 {
    font-size: 1.0rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1200px;
}

header{
    text-align: center;
    background: linear-gradient(lightblue, #F45505, #F45505);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: whitesmoke;
    height: 75px;
    vertical-align: text-bottom;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer, footer a {
    font-size: .75rem;
    text-align: center;
    background: linear-gradient(#F45505, #F45505, lightblue);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: whitesmoke;
    height: 50px;
}
