* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: gray;
}

h1 {
    font-size: 2.0rem;
    color: lightyellow;
}

h2 {
    font-size: 1.0rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1200px;
}

header, footer, footer a {
    text-align: center;
    background: linear-gradient(white, #F45505, #F45505, white);
    color: whitesmoke;
    border-radius: 50px;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: .75rem;
}
