* { box-sizing: border-box; margin: 0 auto;}

body {
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(/dmyers6978.github.io/CIT230/lesson-5/images/background.JPG) no-repeat fixed;
    background-size: cover;
}

header, nav, main, footer {
    max-width: 1000px;
}

header {
    background: rgba(128, 128, 128, .5);
}

table{
    width: 100%;
}

header .subheading {
    font-size: 1.0rem;
}

table h1 {
    text-align: left;
}
table td#image {
    width: 12.5%;
}

#heading{
    vertical-align: text-bottom;
}

nav {
    background: rgba(29, 151, 14, .4);
    min-height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
}
nav button {
    font-size: 1.5rem;
    background:none;
    border:none;
    height: 35px;
    width: 35px;
}

nav ul {
    text-align: center;
}
nav ul li {
    width: 100px;
    height:30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li.active a {}
nav ul li:hover {
    background-color: rgb(29, 151, 14)
}

.topnav li{
    display: none;
}

.responsive li {
    margin: 5px 0 0 0;
    display: block;
    text-align: center;
}

nav a.icon {
    text-decoration: none;
    color: black;
}

.contact {
    background: rgba(135, 168, 97, .6);
    padding: 20px 0 20px 0;
}

.footer-bar {
    background: rgb(135, 168, 97);
    padding: 5px 0 5px 0;
}

footer {
    text-align: center;
}

section#container{
    display: grid;
    grid-template-columns: 300px;
    padding: 50px 0 50px 0;
    margin: 0 auto;
    justify-content: space-around;

}

.weather-img{
    max-width: 300px;
    border-radius: 10px;
}

figure:hover{
    box-shadow: 10px 10px 20px;
}

figcaption{
    margin: 10px 0 10px 0;
    text-align: left;
}

figure{
    border-radius: 10px;
    margin-bottom: 10px;
}

