* { box-sizing: border-box; margin: 0 auto;}

body {
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(/dmyers6978.github.io/CIT230/lesson-5/images/background.JPG) no-repeat fixed;
    background-size: cover;
}

header, nav, main, footer {
    max-width: 1000px;
}

header {
    background: rgba(128, 128, 128, .5);
}

table{
    width: 100%;
}

header .subheading {
    font-size: 1.0rem;
}

table h1 {
    text-align: left;
}
table td#image {
    width: 12.5%;
}

#heading{
    vertical-align: text-bottom;
}

nav {
    background: rgba(29, 151, 14, .4);
    min-height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
}
nav button {
    font-size: 1.5rem;
    background:none;
    border:none;
    height: 35px;
    width: 35px;
}

nav ul {
    text-align: center;
}
nav ul li {
    width: 100px;
    height:30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li.active{
    background-color: green;;
}
nav ul li:hover {
    background-color: rgb(29, 151, 14)
}

.topnav li{
    display: none;
}

.responsive li {
    margin: 5px 0 0 0;
    display: flex;
    text-align: center;
}

nav a.icon {
    text-decoration: none;
    color: black;
}

main {
}

main h2 {
    font-size: 3.0rem;
    text-align: center;
    padding: 10px 0 10px 0;
}
main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {
    width: 100%;
}

footer {
    text-align: center;
}

#sunny {
    max-width: 100px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0 0 0 40px;
}

article {
    margin:20px auto 20px auto;
    text-align: center;
}

.town-article {
    font-size: 1.25rem;
}

.contact {
    background: rgba(135, 168, 97, .6);
    padding: 20px 0 20px 0;
}

.footer-bar {
    background: rgb(135, 168, 97);
    padding: 5px 0 5px 0;
}
.weather-summary {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    width: 100%;
    justify-content: space-between;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    background: rgba(135, 168, 97, .8);
    margin: 15px 0 15px 0;
}

.current {
    display: grid;
    width: 300px;
}

#current {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.conditions {
    width:300px;
    text-align: center;
}

.highlow {
    width: 300px;
    text-align: center;
}

section.forecast {
    display: none;
}

#trees{
    margin: 0 auto;
}
